body h1{
    text-align: center;
    padding-top: 3%;
    margin-bottom: 2%;
}


.loginbody  
{  
        /* margin: 0;  
        padding: 0;  
        background-color:#6abadeba;   */
    font-family: 'Arial';  
}  
.nav-auth {
    text-align: center; 
    border-color: black;  
    border-style: dashed;
    padding: 20px;
    font-size: medium;
}

.nav-auth a {
    float: right;
    margin-right: 5px; 
    /* padding: 20px; */
}

.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
.loginbody h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
.loginbody label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#login_userEmail{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#login_password{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#login_submit{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
.loginbody span{  
    color: white;  
    font-size: 17px;  
}  
/* .loginbody a{  
    float: right;  
    background-color: grey;  
} */

#register_userName{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
} 

#register_userEmail{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#register_password{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#register_submit{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
}  

.homebody  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  