body h1 {
    text-align: center;
    padding-top: 1%;
    /* margin-bottom: 2%; */
}


.loginbody {
    /* margin: 0;  
        padding: 0;  
        background-color:#6abadeba;   */
    font-family: 'Arial';
}

.nav-auth {
    text-align: center;
    border-color: black;
    border-style: dashed;
    padding: 20px;
    font-size: medium;
}

.nav-auth a {
    float: right;
    margin-right: 5px;
    /* padding: 20px; */
}

.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #23463f;
    border-radius: 15px;

}

.loginbody h2 {
    text-align: center;
    color: #195964;
    padding: 20px;
}

.loginbody label {
    color: #08ffd1;
    font-size: 17px;
}

#login_userEmail {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#login_password {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

#login_submit {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}

.loginbody span {
    color: white;
    font-size: 17px;
}

/* .loginbody a{  
    float: right;  
    background-color: grey;  
} */

#register_userName {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#register_userEmail {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#register_password {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

#register_submit {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}

.homebody {
    margin: 0;
    padding: 0;
    background-color: #6abadeba;
    font-family: 'Arial';
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    padding-top: 2%;
    /* list-style-type: none; */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 2px 16px;
    /* list-style-type: none; */
}

.card-container p{
    padding-left: 5px;
    /* list-style-type: none; */
}

.main-header {
    width: 100%;
    height: 200px;
    background-color: #195964;
    text-align: center;
    position: relative;
    /* position: fixed; */
    top: 0;
    overflow: hidden;
}

.main-header h1 {
    font-size: 35px;
    color: #fff;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: 100;
    /* @include transition(all 0.3s ease); */
}

.main-header nav {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.main-header nav a {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    @include border-radius(2px);
}

.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
    height: 60px;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 300px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}