<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="js/lib/jquery-min.js"></script>
	<script type="text/javascript" src="js/lib/underscore-min.js"></script>
	<script type="text/javascript" src="js/lib/backbone.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/models/bookitem.js"></script>
	<script type="text/javascript" src="js/models/login.js"></script>
	<script type="text/javascript" src="js/views/loginViewer.js?v=2"> </script>
	<!-- <script type="text/javascript" src="js/views/loginView.js"></script> -->
	<script type="text/javascript" src="js/views/bookitemform.js"></script>
	<script type="text/javascript" src="js/views/editbookview.js"></script>
	<script type="text/javascript" src="js/views/bookitemview.js"></script>
	<script type="text/javascript" src="js/views/searchbookview.js"></script>
	<!-- <script type="text/javascript" src="js/routers/approuter.js"></script> -->
	<script type="text/javascript" src="js/routers/approuter1.js"></script>

	<link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!-- <link rel="stylesheet" href="/w3css/3/w3.css"> -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> -->
	<title>Questionier Site</title>

</head>

<body>
	<!-- templates -->
	<script type="text/template" id="addbook_template">
	<form class="form-horizontal"  id="add_book" method="post" action="#">
	<legend class="heading"></legend>
	<!-- book name-->
	<div class="control-group">
	<label class="control-label" for="addbokinputBookName"><b>Book Name</b></label>
	<div class="controls">
	<input type="text" class="input-medium" value="<%= book_name%>" id="addbook_book_name" placeholder="Book Name">
	</div>
	</div>

	<div class="control-group">
	<label class="control-label" for="inputAuthorName"><b>Author Name</b></label>
	<div class="controls">
	<input type="text" class="input-medium" value="<%=author %>" id="addbook_author_name" placeholder="Author">
	</div>
	</div>

	<div class="control-group">
	<label class="control-label" for="inputStatus"><b>Read Status</b></label>
	<div class="controls">
	<select class="addbook_status" >
	<option selected="selected" value="4">Choose Read status</option>
	<option value="0">YES</option>
	<option value="1">No</option>
	<option value="2">Reading</option>
	</select>
	</div>
	</div>
	
	<div class="control-group" id="">
	<div class="controls" id="saveDeleteControls">
	<button type="submit" id="addbook_button" class="btn">Save</button>
	<button type="button" id="deletebook_button" class="btn">Delete</button>
	</div>
	</div>
	</form>
	</script>

	<script type="text/template" id="searchbook_template">
	<form class="form-search" id="searchbook">
	<input type="text" class="input-medium search-query" id="searchBook_book_name" placeholder="Book name">
	<button type="button"  id="booksearch_submit" class="btn">Search</button>
	</form>
	</script>

	<!-- end of search book template -->
	<script type="text/template" id="bookitem_template">
	<a href="#edit/<%= id %>" class="btn btn-link"><%= book_name %></a>
	</script>

	<script type="text/template" id="post_template">
	<a href="#edit/<%= postId %>" class="btn btn-link"> <%= userEmail %>  </a>
	</script>

	<script type="text/template" id="login_template">
	<!-- <div>
		UserEmail <input type="text" id="login_userEmail" placeholder="UserEmail"><br /><br />
		Password : <input type="password" id="login_password" placeholder="Password"><br /><br />
		<button id="register_submit">REGISTER</button>
		<button id="login_submit">Login</button>
	</div> -->

	<div class="loginbody">
		<nav class="nav-auth">
			<a href="#">Login</a>
			<a href="#menu-item/searchbook">Register</a>
		</nav>
		<h2>Login Page</h2><br>
		<div class="login">
			<form id="login" method="get" action="login.php">
				<label><b>User Email</b></label>
				<input type="text" name="userEmail" id="login_userEmail" placeholder="User Email">
				<br><br>
				<label><b>Password</b></label>
				<input type="Password" name="password" id="login_password" placeholder="Password">
				<br><br>
				<input type="button" name="log" id="login_submit" value="Log In Here">
				<br><br>
				<input type="checkbox" id="check">
				<span>Remember me</span>
				<br><br>
				<!-- Forgot <a href="#">Password</a> -->
			</form>
		</div>
	</script>

	<!--end of templates -->

	<!-- <h1>Questionier Website</h1> -->
	<div class="container">
		<!-- <ul class="nav nav-pills">
			<li><a href="#">Login</a></li>
			<li><a href="#menu-item/welcome">Questions</a></li>
			<li><a href="#menu-item/addbook">Add Question</a></li>
			<li><a href="#menu-item/searchbook">Search Question</a></li>
		</ul> -->
		<div class="container bs-docs-example" id="app">
		</div>
	</div>

</body>

</html>