<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="js/lib/jquery-min.js"></script>
	<script type="text/javascript" src="js/lib/underscore-min.js"></script>
	<script type="text/javascript" src="js/lib/backbone.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<!-- <script type="text/javascript" src="js/models/bookitem.js"></script> -->
	<script type="text/javascript" src="js/models/qitem.js"></script>
	<script type="text/javascript" src="js/models/login.js"></script>
	<script type="text/javascript" src="js/views/loginViewer.js?v=2"> </script>
	<script type="text/javascript" src="js/views/registerViewer.js"></script>
	<script type="text/javascript" src="js/views/homeViewer.js"></script>
	<script type="text/javascript" src="js/views/bookitemform.js"></script>
	<script type="text/javascript" src="js/views/editbookview.js"></script>
	<!-- <script type="text/javascript" src="js/views/bookitemview.js"></script> -->
	<script type="text/javascript" src="js/views/qitemview.js"></script>
	<script type="text/javascript" src="js/views/searchbookview.js"></script>
	<script type="text/javascript" src="js/views/addQuestionViewer.js"></script>
	<!-- <script type="text/javascript" src="js/routers/approuter.js"></script> -->
	<script type="text/javascript" src="js/routers/approuter1.js?v=2"></script>

	<link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<title>iCom Forum</title>

</head>

<body>
	<header class="main-header">
		<h1>Inter-Com Questionier</h1>
		<nav>
			<a href="#">Login</a>
			<a href="#menu-item/register">Register</a>
			<a href="#menu-item/home">Home</a>
			<a href="#menu-item/addQ">Ask Question</a>
			<a href="">Find a Question</a>
			<a href="javascript:signOut();">SignOut</a>
		</nav>
	</header>

	<script>
		function signOut(value){
			localStorage.setItem("auth_token", 0);
            localStorage.setItem("user", null);
			app.appRouter.navigate("#", { trigger: true, replace: true });
		}
	</script>
	<!-- templates -->

	<script type="text/template" id="addquestion_template">
	<form>
	<ul class="form-style-1">
		<li>
			<label>Question Title <span class="required">*</span></label>
			<input type="text" name="field3" id="qTitle" class="field-long" />
		</li>
		<li> <br/> </li>
		<li>
			<label>Question Description <span class="required">*</span></label>
			<textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
		</li>
		<li>
			<input type="button" name="qAdd" id="question_submit" value="Submit" />
		</li>
	</ul>
	</form>
	</script>

	<script type="text/template" id="login_template">
	<div class="loginbody">
		<h2>Login Page</h2>
		<div class="login">
			<form id="login" method="get" action="login.php">
				<label><b>User Email</b></label>
				<input type="text" name="userEmail" id="login_userEmail" placeholder="User Email">
				<br><br>
				<label><b>Password</b></label>
				<input type="Password" name="password" id="login_password" placeholder="Password">
				<br><br>
				<input type="button" name="log" id="login_submit" value="Log In Here">
				<br><br>
				<input type="checkbox" id="check">
				<span>Remember me</span>
				<br><br>
			</form>
		</div>
	</div>
	</script>


	<script type="text/template" id="register_template">
	<div class="loginbody">
		<h2>User Registration</h2>
		<div class="login">
			<form id="login" method="get" action="register.php">
				<label><b>User Name</b></label>
				<input type="text" name="userName" id="register_userName" placeholder="User Name">
				<br><br>
				<label><b>User Email</b></label>
				<input type="text" name="userEmail" id="register_userEmail" placeholder="User Email">
				<br><br>
				<label><b>Password</b></label>
				<input type="Password" name="password" id="register_password" placeholder="Password">
				<br><br>
				<input type="button" name="register" id="register_submit" value="Click to Register">
				<br><br>
				<br><br>
			</form>
		</div>
	</div>
	</script>


	<script type="text/template" id="addbook_template">
	<form class="form-horizontal"  id="add_book" method="post" action="#">
	<legend class="heading"></legend>
	<!-- book name-->
	<div class="control-group">
	<label class="control-label" for="addbokinputBookName"><b>Book Name</b></label>
	<div class="controls">
	<input type="text" class="input-medium" value="<%= book_name%>" id="addbook_book_name" placeholder="Book Name">
	</div>
	</div>

	<div class="control-group">
	<label class="control-label" for="inputAuthorName"><b>Author Name</b></label>
	<div class="controls">
	<input type="text" class="input-medium" value="<%=author %>" id="addbook_author_name" placeholder="Author">
	</div>
	</div>

	<div class="control-group">
	<label class="control-label" for="inputStatus"><b>Read Status</b></label>
	<div class="controls">
	<select class="addbook_status" >
	<option selected="selected" value="4">Choose Read status</option>
	<option value="0">YES</option>
	<option value="1">No</option>
	<option value="2">Reading</option>
	</select>
	</div>
	</div>
	
	<div class="control-group" id="">
	<div class="controls" id="saveDeleteControls">
	<button type="submit" id="addbook_button" class="btn">Save</button>
	<button type="button" id="deletebook_button" class="btn">Delete</button>
	</div>
	</div>
	</form>
	</script>

	<script type="text/template" id="searchbook_template">
	<form class="form-search" id="searchbook">
	<input type="text" class="input-medium search-query" id="searchBook_book_name" placeholder="Book name">
	<button type="button"  id="booksearch_submit" class="btn">Search</button>
	</form>
	</script>

	<!-- end of search book template -->
	<script type="text/template" id="bookitem_template">
	<a href="#edit/<%= id %>" class="btn btn-link"><%= book_name %></a>
	</script>

	<script type="text/template" id="qItem_template">
		<div class="card">
			<div class="card-container">
				<h4><b><a href="#edit/<%= questionId %>" class="btn btn-link"> <%= questionTitle %></a></b></h4> 
				<p>Q-No: <%= questionId %>   State: <%= questionState %> </p> 
			</div>
		</div>
	</script>

	

	<script type="text/javascript">
		$(document).ready(function () {
			window.history.pushState(null, "", window.location.href);
			window.onpopstate = function () {
				window.history.pushState(null, "", window.location.href);
			};
		});
	</script>

	<!--end of templates -->
	<div class="container">
		<div class="container bs-docs-example" id="app">
		</div>
	</div>

</body>

</html>